table{
	border-spacing: 0;
	color:white;
}
tbody{
	overflow: scroll;
}
.tableGestion {
	margin: 2% auto;
	width: 85%;
}
tbody tr:nth-child(even){
	background-color: #B6B6B6;
}
tbody tr:nth-child(odd){
	background-color: #979797;
}
.tableHead {
    background-color: #6A3547;
}

