{% extends 'base.html.twig' %}

{% block body %}
<main>
    <h1>Ajouter un événement</h1>

    {{ include('evenement/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('evenement_index') }}">Revenir à la liste</a>
</main>
{% endblock %}
