{% extends 'base.html.twig' %}

{% block title %}Adherents
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="/css/navmenu.css">
	<link rel="stylesheet" href="/css/sidemenu.css">
	<link rel="stylesheet" href="/css/table.css">
	<link rel="stylesheet" href="/css/liste_adherent.css">
{% endblock %}
{% block body %}
	{% include "template_parts/_navmenu.html.twig" %}
	{% include "template_parts/_sidemenu.html.twig" %}
    <main>
	<h1 class="titrePage">Liste des adhérents</h1>

	<table class="tableGestion">
		<thead>
			<tr>
				<td>Sécurité Sociale</td>
				<td>Nom</td>
				<td>Prénom</td>
				<td>Email</td>
				<td>Téléphone</td>
				<td>Statut d'inscription</td>
				<td>Newsletter</td>
				<td>Action</td>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>
						{{ loop.index }} - {{ user.email }}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
    </main>
	<script src="https://kit.fontawesome.com/433f9c0cfe.js" crossorigin="anonymous"></script>
</body>{% endblock %}
