{% extends 'base.html.twig' %}



{% block body %}
<main>
    <h1>Modification Partenaire</h1>

    {{ include('partenaire/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a class="btn btn-secondary m-1" href="{{ path('partenaire_index') }}">Revenir à la liste</a>

    {{ include('partenaire/_delete_form.html.twig') }}
</main>
{% endblock %}
