{% extends 'base.html.twig' %}

{% block body %}
<main>
    <h1>Ajouter un partenaire</h1>

    {{ include('partenaire/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('partenaire_index') }}">Revenir à la liste</a>
</main>
{% endblock %}
