{% extends 'base.html.twig' %}

{% block body %}
	<main>
		<h1>Ajouter un nouvel adhérent</h1>
		{{ include('adherent/_form.html.twig') }}

		<a class="btn btn-secondary" href="{{ path('adherent_index') }}">Revenir à la liste</a>
	</main>
{% endblock %}
