{% extends 'base.html.twig' %}

{% block body %}
	<main>
		<h1>Créer un nouvel adhérent</h1>
		{{ include('adherent/_form.html.twig') }}

		<a class="btn btn-secondary" href="{{ path('adherent_index') }}">Revenir a la list</a>
	</main>
{% endblock %}
