<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}MJC Gestion
			{% endblock %}
		</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/table.css">
		{% block stylesheets %}
					<link rel="stylesheet" href="https://bootswatch.com/5/litera/bootstrap.min.css">
		{% endblock %}
		{% block fonts %}
			<link rel="preconnect" href="https://fonts.gstatic.com">
			<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
			<style>
				body {
					font-family: 'Montserrat', sans-serif;
				}
			</style>
		{% endblock %}
		{% block javascripts %}{% endblock %}
	</head>
	<body>
		{% block nav %}
			{% include "template_parts/_navmenu.html.twig" %}
			{% include "template_parts/_sidemenu.html.twig" %}
		{% endblock %}

		{% block body %}{% endblock %}

		{% block scripts %}
			<script src="https://kit.fontawesome.com/433f9c0cfe.js" crossorigin="anonymous"></script>
		{% endblock %}
	</body>
</html>
